<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:object="${ingrediente}">

<container class="text-white">
	<h1 class="text-center text-warning my-5">Pizzeria bella Napoli!</h1>
	<a href="/"  class="col-2 btn btn-danger d-block ms-3">Torna al menu principale</a>
	<h1 class="my-4 ms-3">Modifica questo ingrediente</h1>
		<form
		method="POST"
		th:action="@{/ingredients/update/{id} (id=*{id})}"
	>
		<label>Name:</label>
		<input type="text" name="name" th:value="*{id}" th:field="*{name}">
		<br>
		<div
			th:each="pizza : ${pizze}"
			th:object="${pizza}"
		>
			<input
				type="checkbox"
				name="pizze"
				
				th:value="*{id}"
				th:field="${ingrediente.pizze}"
			>
			<label>
				[[*{name}]]
			</label>
		</div>
		<br><br>
		<input type="submit" value="MODIFICA">
	</form>
	</container>

</body>
</html>